<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:laout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Categories</title>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}">
</head>
<body>
	<div layout:fragment="content1">
		<div class="container" style="padding-top: 140px; width: 75%;">
			<div class="panel panel-primary" >
				<div class="panel-heading" >Liste des categories</div>

				<div class="panel-body" style="margin: 0 15px">
					<div class="row">
						<div class="col-md-9">
							<h4>Liste des categories présents</h4>
						</div>
						<div class="col-md-3">
							<a th:href="@{/admin/addCategorie}">
								<button type="button" class="btn btn-primary pull-right">
									<i class="fa fa-plus"></i> Ajouter Categorie
								</button>
							</a>
						</div>
					</div>
					<br>
					<table class="table table-bordered">
						<tr>
							<th>ID</th>
							<th>Catégorie</th>
							<th colspan="2" style="text-align: center;">Actions</th>
						</tr>
						<tr th:each="c:${listCategories}">
							<td th:text="${c.idCat}"></td>
							<td th:text="${c.nomCat}"></td>
							<td><a th:href="@{/admin/editcategorie(idCat=${c.idCat})}"><span
									class="glyphicon glyphicon-pencil" title="Modifier"></span></a></td>
							<td><a
								onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette categorie ? ')"
								th:href="@{/admin/deletecategorie(idCat=${c.idCat})}"><span
									class="glyphicon glyphicon-trash" title="Supprimer"></span></a></td>
						</tr>
					</table>

				</div>

			</div>
		</div>
	</div>
</body>
</html>