<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:laout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Clients Details</title>
<link rel="stylesheet" href="../static/css/viewclient.css"
	th:href="@{/css/viewclient.css}">
<script src="https://kit.fontawesome.com/1b65a2a15a.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<div layout:fragment="content1">
		<div class="container" style="padding-top: 80px; width: 90%;">
			<!--      <div class="panel panel-primary">
				<div class="panel-heading">Liste des clients</div>

				<div class="panel-body">
                  <h2  th:text="${client.idClient}"></h2>
	    
	    					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Photo</th>
								<th>Nom</th>
								<th>Prenom</th>
								<th>Email</th>
								<th style="text-align: center;">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><img style="border-radius: 100%"
									th:src="${client.getPhoto()}" height="45" width="45"></td>
								<td th:text="${client.nom}"></td>
								<td th:text="${client.prenom}"></td>
								<td th:text="${client.mail}"></td>
							</tr>
						</tbody>
					</table>
	    
				</div>
			</div> -->

			<div class="col-md-6 col-md-offset-3" style="margin-top:40px;">
				<!-- Begin user profile -->
				<div class="box-info text-center user-profile-2">
					<div class="header-cover"></div>
					<div class="user-profile-inner">
						<h2 class="h2" th:text="${client.nom}" style="color:#fff;"></h2>
						<h3 class="h3" th:text="${client.prenom}" style="color:#fff;"></h3>
						<img th:src="${client.getPhoto()}"
							class="img-circle profile-avatar" alt="User avatar">
					</div>
					<div class="row" id="row1">
						<div class="col-md-4">ID Client :</div>

						<div class="col-md-4" th:text="${client.idClient}"></div>
					</div>
					<div class="row" id="row1">
						<div class="col-md-4">Email :</div>

						<div class="col-md-4" th:text="${client.mail}"></div>
					</div>
					<div class="row" id="row1">
						<div class="col-md-4">Adresse :</div>

						<div class="col-md-4" th:text="${client.adresse}"></div>
					</div>
					<div class="row" id="row1">
						<div class="col-md-4">Téléphone :</div>

						<div class="col-md-4" th:text="${client.tele}"></div>
					</div>
					<div class="user-button">
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-primary btn-sm btn-block">
									<i class="fa fa-envelope"></i> Envoyer Message
								</button>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-default btn-sm btn-block">
									<i class="fa fa-user"></i> Appeler par téléphone
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>






</body>
</html>